#lBotPanel {
    display: block;
    position: absolute;
    background: #ffffff;
    zIndex: 1000000;
    right: 0;
    top: 100px;
    width: 262px;
    height: 100px;
    font: 13px/27px Arial, sans-serif;
}